body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-image: url('background.webp');
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    text-align: center;
}

h1 {
    color: white;
    font-size: 3rem;
    margin-bottom: 20px;
    background-color: rgba(0, 0, 0, 0.6);
    padding: 10px;
    border-radius: 10px;
    display: inline-block;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}


.calculator {
    background-color: rgba(255, 255, 255, 0.9);
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0px 10px 30px rgba(0, 0, 0, 0.1);
}

.display {
    width: 100%;
    height: 60px;
    background-color: #222;
    color: #fff;
    text-align: right;
    padding-right: 10px;
    font-size: 2rem;
    margin-bottom: 10px;
    border: none;
    border-radius: 5px;
}

.buttons {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 10px;
}

button {
    font-size: 1.5rem;
    padding: 20px;
    border: none;
    border-radius: 5px;
    background-color: #333;
    color: white;
    cursor: pointer;
    transition: background-color 0.2s;
}

button:hover {
    background-color: #555;
}

button.zero {
    grid-column: span 2;
}

button:active {
    background-color: #777;
}